.appContainer {
  font-family:
    'SFProText',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

.appContainer p,
.appContainer input {
  font-family:
    'Geist',
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
}

.app {
  margin: 1rem;
  width: 18rem;
  height: 16rem;
  border-radius: 28px;
  font-size: 16px;
  padding: 1.4rem;
  display: flex;
  flex-direction: column;
  transition: transform 180ms ease;
}

.app:hover {
  transform: scale(1.04);
}
